body {
    padding: 0;
    margin: 10px;
    font-family: "Poppins", sans-serif;
}

.container{
    margin: auto;
}

.container h1{
    font-family: 'Playfair Display';
    font-size: 30px;
    margin: 20px 0 0 0;
}


.container__description--text{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    align-items: flex-start;
    flex-direction: row;
}

.container__description--text p{
    margin: 0 0 10px 0;
}

.container__description--text img{
    margin: 5px 5px 0 0 ;
}

.container--img{
    width: 100%;
    height: fit-content;
    max-width: 969px;
    max-height: 470px;
}

.container__especifi{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.container__especifi--card1{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.container__especifi--card1 img{
    width: 40px;
    height: 40px;
    margin: 5px;
}

.container__especifi--card1 h4,
.container__especifi--card1 p{
    font-size: 13 px;
    margin: 0;
}

.container__especifi--card1 h4{
    color: rgba(247, 103, 8, 1);
}

.container__especifi--card{
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.container__especifi--card img{
    width: 30px;
    height: 30px;
    margin: 5px;
}

.container--card-text{
    display:flex;
    flex-direction: column;
    margin: 0;
}

.container--card-text > p {
    font-size: x-small;
    margin: 0;
}

.container--card-text h5{
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
    font-size: x-small;
}

@media only screen and (min-width: 600px) {
    .container__especifi{
        box-shadow: 0px 0px 29px 4px rgba(0,0,0,0.40);
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: fit-content;
        padding: 25px;
    }

    .container__especifi--card1{
        width: auto;
    }

}